/* SPDX-FileCopyrightText: 2024 Galagic Limited, et al. <https://galagic.com>

   SPDX-License-Identifier: CC-BY-SA-4.0

   Source of the website [innercitylearners.com](https://innercitylearners.com)

   For full copyright information see the AUTHORS file at the top-level
   directory of this distribution or at
   [AUTHORS](https://gitlab.com/thegalagic/innercitylearners_com/AUTHORS.md)

   This work is licensed under the Creative Commons Attribution 4.0 International
   License. You should have received a copy of the license along with this work.
   If not, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to
   Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
*/

/* https://www.jonashietala.se/blog/2024/07/09/microfeatures_in_my_blog/ */
/* [treeman/jonashietala: Source code for my personal homepage](https://github.com/treeman/jonashietala)*/
:root {
  --melange_b_green: #83B998;
  --melange_b_yellow: #ebc06d;
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
}

content aside {
  font-size: 90%;
  padding-inline-start: var(--space-m);
  display: flex;
  flex-direction: column;
  border-width: 0;
  border-left-width: 3px;
  border-style: solid;
}

content aside.update {
  border-color: var(--melange_b_green);
}

content aside.warning {
  border-color: var(--melange_b_yellow);
}

content aside.update .info {
  color: var(--melange_b_green);
}

content aside.warning .info {
  color: var(--melange_b_yellow);
}

img {
  /* Ensure images scale down without distortion when shrunk.
     Theme already sets max-width 100% so these work in combination 
     https://blog.jonathanlau.io/posts/2024-06-10-patterns-to-avoid-layout-shifts-in-image-display/ */
  height: 100%;
}
