{{/*
SPDX-FileCopyrightText: 2024 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: GPL-3.0-or-later

Source of the website [innercitylearners.com](https://innercitylearners.com)

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/innercitylearners_com/AUTHORS.md)

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
*/}}

{{ define "main" }}
<h1>{{ .Title }}</h1>
<p class="byline">
  {{ with .Params.status }}<a href="/posts/20241003134608/">{{.}}</a>{{ end }}
  Published:
  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
    {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
  </time>
  <!-- [Add a Last Edited Date to Posts · Make with Hugo](https://makewithhugo.com/add-a-last-edited-date/) -->
  <!-- Last Updated Date -->
  {{- if .Lastmod }}
      {{- $pubdate := .PublishDate.Format (default "2006-01-02" .Site.Params.dateFormat) }}
      {{- $lastmod := .Lastmod.Format (default "2006-01-02" .Site.Params.dateFormat) }}
      {{- if ne $lastmod $pubdate }}
          Updated:
          <time datetime="{{ .Lastmod }}" title="{{ .Lastmod }}">
              {{ $lastmod }}
          </time>
      {{- end }}
  {{- end }}
  {{ with .Params.author }}· {{.}}{{ end }}
</p>
<content>
  {{ .Content }}
</content>
<p>
  {{ range (.GetTerms "tags") }}
    <a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
  {{ end }}
</p>
{{ if not .Params.hideReply }}
{{ with .Site.Params.author.email }}
  <p>
    <a href='mailto:{{ . }}?subject={{ i18n "email-subject" }}"{{ default $.Site.Title $.Page.Title }}"'>
      {{ i18n "email-reply" }} ↪
    </a>
  </p>
{{ end }}
{{ end }}
{{ end }}
