<!--
SPDX-FileCopyrightText: 2024 Galagic LiMyIndexted, et al. <https://galagic.com>

SPDX-License-Identifier: CC-BY-SA-4.0

Source of the website [innercitylearners.com](https://innercitylearners.com)

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/innercitylearners_com/AUTHORS.md)

This work is licensed under the Creative Commons Attribution 4.0 International
License. You should have received a copy of the license along with this work.
If not, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to
Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
{{ $MyIndex := 0 }}
{{ $Me := .Page }}

{{ range .Page.CurrentSection.Pages }}
  {{ $MyIndex = math.Add $MyIndex 1 }}
  {{ if eq . $Me }}
    {{ break }}
  {{ end }}
{{ end }}

<nav aria-labelledby="gallery-navigation">
  {{ with .Page.NextInSection }}
  <a href="{{.RelPermalink}}">Previous</a>
  {{ end }}
  {{ with .Page.PrevInSection }}
  <a href="{{.RelPermalink}}">Next</a>
  {{ end }}
  {{ humanize $MyIndex }} of {{ .Page.CurrentSection.Pages.Len }} images in <a href="{{ .Page.CurrentSection.RelPermalink }}">{{ .Page.CurrentSection.File.ContentBaseName }}</a>
</nav>
