<!--
SPDX-FileCopyrightText: 2024 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: CC-BY-SA-4.0

Source of the website [innercitylearners.com](https://innercitylearners.com)

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/innercitylearners_com/AUTHORS.md)

This work is licensed under the Creative Commons Attribution 4.0 International
License. You should have received a copy of the license along with this work.
If not, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to
Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->

{{ range where site.RegularPages "CurrentSection.File.ContentBaseName" (.Get 0) }}
  {{ $page := . }}
  {{ range .Resources.ByType "image" | first 1 }}
    {{ $image := .Resize "140x" }}
    <a href="{{ $page.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}"
           loading="lazy"
           alt="{{ $page.Title }}"
           width={{ $image.Width }}
           height="{{ $image.Height }}" ></a>
  {{ end }}
{{ end }}
