<!--
SPDX-FileCopyrightText: 2024 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: CC-BY-SA-4.0

Source of the website [innercitylearners.com](https://innercitylearners.com)

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/innercitylearners_com/AUTHORS.md)

This work is licensed under the Creative Commons Attribution 4.0 International
License. You should have received a copy of the license along with this work.
If not, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to
Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->

<table>
  <tr>
    <th>Item</th>
    <th>Value</th>
  </tr>
  {{ $ctx := . }}
  {{ with .Page.Params.game.author }}
  <tr>
    <td>Author</td>
    <td>
      {{ . | $ctx.Page.RenderString }}
    </td>
  </tr>
  {{ end }}
  {{ with .Page.Params.game.start }}
  <tr>
    <td>Project age (approx)</td>
    <td>{{ sub time.Now.Year .year }} years (started {{ .year }}, 
      {{ $last := index (last 1 .sources) 0 }}
      {{ range .sources }}
      <a href="{{ . }}">source</a>{{ if ne . $last }}, {{ else }}){{ end }}
      {{ end }}
    </td>
  </tr>
  {{ end }}
  <tr>
    <td>License</td>
    <td>
      <p>{{ with .Page.Params.game.license.code }}Code: {{ . }}{{ end }}</p>
      <p>{{ with .Page.Params.game.license.assets }}Assets: {{ . }}{{ end }}</p>
      <p>{{ with .Page.Params.game.license.source }}<a href="{{ . }}">Source</a>{{ end }}</p>
    </td>
  </tr>
  {{ with .Page.Params.game.ratings }}
  <tr>
    <td>Ratings</td>
    <td>
      {{ range $key, $value := . }}
      <p>{{ $key }}: {{ $value }}</p>
      {{ end }} 
    </td>
  </tr>
  {{ end }}
  {{ with .Page.Params.game.available }}
  <tr>
    <td>Availability</td>
    <td>
      {{ range $key, $value := . }}
        <p><span data-pagefind-filter="availability">{{ title $key }}</span>:
          {{ range $store, $url := $value }}
            <a href="{{ $url }}">{{ $store }}</a>
          {{ end }}
        </p>
      {{ end }}
    </td>
  </tr>
  {{ end }}
  {{ with .Page.Params.game.source }}
  <tr>
    <td>Source Code</td>
    <td><a href="{{ . }}">{{ . }}</a></td>
  </tr>
  {{ end }}
</table>
